[workspace]
members = ["bin/alphanet/", "crates/node", "crates/precompile", "crates/testing"]
default-members = ["bin/alphanet/"]
resolver = "2"

[workspace.package]
version = "0.0.0"
edition = "2021"
rust-version = "1.76"
authors = []
license = "MIT OR Apache-2.0"
repository = "https://github.com/paradigmxyz/alphanet"
keywords = ["ethereum", "crypto"]
categories = ["cryptography", "cryptography::cryptocurrencies"]

[workspace.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[workspace.lints.clippy]
dbg-macro = "warn"
manual-string-new = "warn"
uninlined-format-args = "warn"
use-self = "warn"

[workspace.lints.rust]
rust-2018-idioms = "deny"
unreachable-pub = "warn"
unused-must-use = "deny"
missing_docs = "warn"

[workspace.lints.rustdoc]
all = "warn"

[profile.release]
strip = "debuginfo"
lto = "thin"
panic = "unwind"
codegen-units = 1
incremental = false

[workspace.dependencies]
# alphanet
alphanet-node = { path = "crates/node" }
alphanet-precompile = { path = "crates/precompile" }

alloy = { version = "0.2", features = [
    "contract",
    "providers",
    "provider-http",
    "signers",
] }
alloy-network = { version = "0.2" }
alloy-signer-local = { version = "0.2", features = ["mnemonic"] }

# tokio
tokio = { version = "1.21", default-features = false }

# reth
reth = { git = "https://github.com/paradigmxyz/reth.git", rev = "v1.0.2", features = ["optimism"] }
reth-chainspec = { git = "https://github.com/paradigmxyz/reth.git", rev = "v1.0.2" }
reth-cli-util = { git = "https://github.com/paradigmxyz/reth.git", rev = "v1.0.2" }
reth-node-api = { git = "https://github.com/paradigmxyz/reth.git", rev = "v1.0.2" }
reth-node-builder = { git = "https://github.com/paradigmxyz/reth.git", rev = "v1.0.2" }
reth-node-core = { git = "https://github.com/paradigmxyz/reth.git", rev = "v1.0.2" }
reth-node-optimism = { git = "https://github.com/paradigmxyz/reth.git", rev = "v1.0.2" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth.git", rev = "v1.0.2" }
reth-tracing = { git = "https://github.com/paradigmxyz/reth.git", rev = "v1.0.2" }

# misc
clap = "4"
eyre = "0.6.12"
tracing = "0.1.0"
eip3074-instructions = { git = "https://github.com/emostov/eip3074-instructions.git", branch = "bump-revm" }

# misc-testing
rstest = "0.18.2"
