[workspace]
members = ["bin/alphanet/", "crates/instructions", "crates/node", "crates/precompile", "crates/testing"]
default-members = ["bin/alphanet/"]
resolver = "2"

[workspace.package]
version = "0.0.0"
edition = "2021"
rust-version = "1.76"
authors = []
license = "MIT OR Apache-2.0"
repository = "https://github.com/paradigmxyz/alphanet"
keywords = ["ethereum", "crypto"]
categories = ["cryptography", "cryptography::cryptocurrencies"]

[workspace.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[workspace.lints.clippy]
dbg-macro = "warn"
manual-string-new = "warn"
uninlined-format-args = "warn"
use-self = "warn"

[workspace.lints.rust]
rust-2018-idioms = "deny"
unreachable-pub = "warn"
unused-must-use = "deny"
missing_docs = "warn"

[workspace.lints.rustdoc]
all = "warn"

[profile.release]
strip = "debuginfo"
lto = "thin"
panic = "unwind"
codegen-units = 1
incremental = false

[workspace.dependencies]
# alphanet
alphanet-instructions = { path = "crates/instructions" }
alphanet-node = { path = "crates/node" }
alphanet-precompile = { path = "crates/precompile" }

# tokio
tokio = { version = "1.21", default-features = false }

# reth
reth = { git = "https://github.com/paradigmxyz/reth.git", rev = "0c363ea", features = ["optimism"] }
reth-node-api = { git = "https://github.com/paradigmxyz/reth.git", rev = "0c363ea" }
reth-node-optimism = { git = "https://github.com/paradigmxyz/reth.git", rev = "0c363ea" }
reth-tracing = { git = "https://github.com/paradigmxyz/reth.git", rev = "0c363ea" }

# revm
revm = { version = "7.2.0", features = ["std", "secp256k1"], default-features = false }
revm-inspectors = { git = "https://github.com/paradigmxyz/evm-inspectors", rev = "0ad0338" }
revm-interpreter = { version = "3.4.0", features = ["std"], default-features = false }
revm-precompile = { version = "5.1.0", features = ["std"], default-features = false }
revm-primitives = { version = "3.1.0", features = ["std"], default-features = false }

# misc
clap = "4"
criterion = "0.5.1"
eyre = "0.6.12"
tracing = "0.1.0"

# misc-testing
rstest = "0.18.2"
